{% extends 'main.html' %}
{% load static %}


{% block content %}

<h1>{{bookshelf.name}}</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                    <img  src="{{ bookshelf.book_image_url }}" alt="Card image captured" class="card-img-top" >
                <div class="card-body">
                    <h5 class="card-title">{{bookshelf.name}}</h5>
                    <p class="card-text">Description: {{bookshelf.description}}</p>
                    <a href="#" class="btn btn-primary">BORROW BOOK</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


