{% extends 'main.html' %}

{% block content %}

<style>

    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>


<div class="home-container">

    <div>
        <h3>BROWSE BOOKSHELVES</h3>
        <hr>

        <div>
            <a href="{% url 'home' %}">ALL</a>
        </div>

        <div>
            {% for book in books %}
                <div>
                    <a href="{% url 'home' %}?q={{book.name}}">{{book.name}}</a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div>

        <h5>{{bookshelf_count}} Bookshelves Available</h5>

        <a href='{% url "create-bookshelf" %}'>Create BookShelf</a>

        <div>
            {% for bookshelf in bookshelfs %}
            <div>
                <a href="{% url 'deletebookshelf' bookshelf.id %}">DELETE</a>
                <a href="{% url 'updatebookshelf' bookshelf.id %}">Edit</a>
                <span>@{{bookshelf.librarian.username}}</span>
                <h5>{{bookshelf.id}} -- <a href='{% url "bookshelf" bookshelf.id %}'> {{bookshelf.name}}</a></h5>
                <small>{{bookshelf.book.name}}</small>
                <hr>
            </div>

            {% endfor %}
        </div>

    </div>

</div>

{% endblock content %}